.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #101010;

  form {
    height: 50px;

    #search {
      width: 300px;
      border: none;
      padding: 10px 14px;
      border-radius: 3px;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    #country {
      background-color: white;
      border-radius: 3px;
      border: none;
      height: 50px;
    }

    #city {
      background-color: white;
      border-radius: 3px;
      border: none;
      height: 100%;
    }

    #submit {
      background-color: white;
      border-radius: 3px;
      border: none;
      height: 100%;
    }
  }
}

.example-header {
  padding: 1vh 20vw;
  background-color: white;
  margin-top: 60px;
}

.results-container {
  padding: 1vh 20vw;
  background-color: white;

  .card {
    border: none;
    border-top: 1px solid #EFEFEF;
    height: 100px;
    padding: 20px;
    line-height: 0.6;
    background-color: white;
    transition: 0.3s all;

    &:hover {
      background-color: #F5F5F5;
      cursor: pointer;
    }

    .unopened-card {
      display: flex;
      .card-info {
        width: 80%;
        #location {
          font-weight: lighter;
        }
      }

      .source {
        // margin-top: 10px;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

          a {
            text-decoration: none;
            color: white;
            background-color: #04B0FF;
            padding: 13px 42px;
            border-radius: 3px;
          }
      }
    }


    .description {
      padding: 2vh 10vw;
    }
  }
}

@media (max-width: 812px) {
  .home-page-container {
    form {
      #search {
        width: 150px;
      }
    }
  }

  .example-header {
    padding: 1vh 3vw;
  }

  .results-container {
    padding: 1vh 3vw;

    .card {
      height: 175px;
      line-height: 1.0;

      .unopened-card {
        display: block;
        .card-info {
          width: auto;
          #location {
            font-weight: lighter;
          }
        }

        .source {
          width: auto;
          align-items: flex-start;
          justify-content: flex-start;

          a {
            padding: 13px 30px;
          }
        }
      }

     .description {
        padding: 2vh 2vw;
        // text-align: center;
      }
    }
  }
}

@media (max-width: 550px) {
  .home-page-container {
    height: auto;
    padding: 2vh 4vw;
    align-items: flex-start;
    form {
      height: auto;
      input, select {
        width: 100% !important;
        margin-top: 1.5vh;
        padding: 10px 14px;
      }
    }
  }
}
