.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #101010;

  form {
    height: 50px;

    #search {
      width: 300px;
      border: none;
      padding: 10px 14px;
      border-radius: 3px;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    #city {
      background-color: white;
      border-radius: 3px;
      border: none;
      height: 100%
    }

    #submit {
      background-color: white;
      border-radius: 3px;
      border: none;
      height: 100%;
    }
  }
}

.results-container {
  padding: 10vh 20vw;
  background-color: white;

  .card {
    border: none;
    border-top: 1px solid #EFEFEF;
    height: 100px;
    padding: 20px;
    line-height: 0.6;
    background-color: white;
    transition: 0.3s all;

    &:hover {
      background-color: #04B0FF;
      color: white;
    }

    .card-info {
      #location {
        font-weight: lighter;
      }
    }

    .description {
      padding: 2vh 10vw;
      // text-align: center;
    }
  }
}

@media (max-width: 812px) {
  .home-page-container {
    form {
      #search {
        width: 150px;
      }
    }
  }

  .results-container {
    padding: 10vh 3vw;

    .card {
     .description {
        padding: 2vh 2vw;
        // text-align: center;
      }
    }
  }
}
