<div class="navbar results">
  <p></p>
  <div id="query">
    <%= link_to 'MADWORK', root_path %>
    <p>| <%= params[:search].capitalize! %> Jobs</p>
  </div>
  <%= link_to 'About', about_path, class: 'about-button' %>
</div>
<div class="menu">
  <%= link_to 'About', about_path, class: 'about-button' %>
</div>
