<div class="about-page-container">
  <div class="app-description">
    <p><strong>MADWORK</strong> is a scraper that intends to help developers find job opportunities without
      having to search 50 different jobs websites, simply search on <strong>MADWORK</strong> and
    we search all the others for you.</p>
    <p>At the moment we are only scraping Indeed but plan on adding a bunch more.</p>
  </div>
</div>
