<% content_for :meta_title, "About" %>
<% content_for :meta_description, "MADWORK is a scraper that intends
to help developers find job opportunities without having to
search 50 different jobs websites, simply search on MADWORK and we search
all the others for you." %>
<% content_for :meta_image, meta_image %>
<div class="about-page-container">
  <div class="app-description">
    <p><strong>MADWORK</strong> is a scraper that intends to help developers find job opportunities without
      having to search 50 different jobs websites, simply search on <strong>MADWORK</strong> and
    we search all the others for you.</p>
    <p>Please keep in mind that because of the nature of scrapers, the quality of the results are not
    dependent on us.</p>

    <p>We are also scraping the job listings in real time so its normal for a page to take a bit longer to fully load compared to a "normal" application.</p>

    <p>Websites currently being scraped:</p>
    <ul>
      <li>www.indeed.com</li>
      <li>www.indeed.pt</li>
      <li>www.indeed.co.uk</li>
      <li>www.indeed.fr</li>
      <li>it.indeed.com</li>
      <li>de.indeed.com</li>
      <li>www.indeed.nl</li>
      <li>www.indeed.es</li>
      <li>landing.jobs</li>
      <li>jobs.github.com/</li>
      <li>remoteok.io</li>
      <li>stackoverflow.com/jobs</li>
    </ul>
  </div>
</div>
