<div class="about-page-container">
  <div class="app-description">
    <p><strong>MADWORK</strong> is a scraper that intends to help developers find job opportunities without
      having to search 50 different jobs websites, simply search on <strong>MADWORK</strong> and
    we search all the others for you.</p>
    <p>Please keep in mind that because of the nature of scrapers, the quality of the results are not
    dependent on us.</p>
    <p>Websites currently being scraped:</p>
    <ul>
      <li>Indeed.com</li>
      <li>Indeed.pt</li>
      <li>Indeed.co.uk</li>
      <li>Landing.jobs</li>
    </ul>
  </div>
</div>
