<div class="home-page-container">
  <form action="/results" id="search_form">
    <input type="text" name="search" id="search">
    <select name="country" id="country"></select>
    <select name="city" id="city"></select>
    <input type="submit" name="commit" value="Search" id="submit" data-disable-with="Search">
  </form>
</div>
<div class="example-header">
  <h5>Ex: Rails jobs in Lisbon</h5>
</div>
<div class="results-container">
</div>
