<% content_for :meta_title, "#{params[:search].capitalize} jobs in #{params[:city]}" %>
<% content_for :meta_description, "None" %>
<% content_for :meta_image, meta_image %>
<br>
<br>
<div class="results-container">
</div>
