.footer {
  width: 100vw;
  height: 10vh;
  background-color: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
    a {
      color: white;
      text-decoration: none;
    }
}
